body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main-section {
    width: 100%;

    margin: 0;
}

.row {
    align-items: center;
}

.mod-custommod-navbar-section {
    height: 27px;
    width: 606px;
    margin-top: 40px;
    padding: 2px;
}

.mod-custommod-navbar-section-part {
    text-decoration: none;
    font-size: 20px;
    color: #9497a2;
    font-weight: 400;
}
.mod-custommod-nav-para {
    color: #9497a2;
    font-family: "Neue Haas Unica";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
}
.mod-custommod-video-section {
    margin-top: 40px;
    height: 39px;
    width: 443px;
}

.mod-custommod-video {
    color: #2f3332;
    font-family: "Neue Haas Unica";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}
.mod-custommod-management-section {
    width: 1170px;
    height: 85px;
}
.mod-custommod-management {
    font-weight: 600;

    color: #593c6e;
    font-family: "Neue Haas Unica";
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 48px;
}

.mod-custommod-middle-part {
    padding-right: 5px;
    width: 670px;
    height: 254px;
}

.mod-custommod-intro-part {
    margin-top: 20px;
}

.mod-custommod-intro {
    margin-top: 80px;
    color: #593c6e;
    font-family: "Neue Haas Unica";
    font-weight: 700;
    margin-bottom: 15px;
}
.mod-custommod-intro-para {
    height: 254px;
    width: 670px;
    color: #2f3332;
    font-family: "Neue Haas Unica";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.mod-custommod-right-part {
    margin-top: 180px;
}

.mod-custommod-right {
    border: 1px solid #115ca8;
    box-sizing: border-box;
    height: 233px;
    width: 369px;
    text-align: justify;
    padding: 5px;
    padding-top: 20px;
}

.mod-custommod-task {
    color: #115ca8;

    font-weight: 700;
}
.mod-custommod-subject {
    color: black;
    font-weight: 400;
}
.mod-custommod-image-section {
    margin-bottom: 20px;
}
.mod-custommod-image {
    width: auto;
    height: 658px;
}

.mod-custommod-progress-section {
    display: flex;
    width: 1200px;
    padding: 7px;
    justify-content: flex-end;
    align-items: center;
}
.mod-custommod-progress-part {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-evenly;
}
.progress {
    width: 160px;
}

.progress-bar {
    background-color: #593c6e;
}

.mod-custommod-concluded {
    font-size: 12px;
    font-weight: 400;
    color: #b5bbc8;
    font-style: normal;
    padding-left: 0px;
}

.mod-custommod-star {
    height: 24.89px;
    width: 26.12px;
    color: #593c6e;
}

.mod-custommod-share-button {
    height: 25.5px;
    width: 26.39px;
    color: #9497a2;
}

@media only screen and (max-width: 400px) {
    .mod-custommod-intro-para {
        font-size: 24px;
        line-height: normal;
        font-family: none;
    }

    .mod-custommod-intro {
        font-weight: 900;
        font-size: 30px;
    }
    .mod-custommod-task {
        font-size: 24px;
    }
    .mod-custommod-right {
        height: none;
        width: 410px;
        height: 285px;
    }
}
